
footer{
	
	background-color: #009fe3;  
	color: #fff;
	padding-top:64px;
	margin-top: 40px;
	padding-bottom:61px;

}

footer ul{
	
	list-style:none;
	padding:0px;
	
}

footer li{
	
	color: #fff;
	
}

footer li > a{
	
	color: #fff;
	
}