@CHARSET "ISO-8859-1";

footer{
	
	background-color: #0a475b;  
	color: #fff;
	padding-top:64px;
	padding-bottom:61px;

}

footer ul{
	
	list-style:none;
	padding:0px;
	
}

footer li{
	
	color: #fff;
	
}

footer li > a{
	
	color: #fff;
	
}