/* Styles Window Modal with vue.js*/

.modal-header
{
  padding: 10px 20px 0 0;
  border-bottom: none;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 25%;
  margin: auto;  
  padding: 40px 44px 33px 43px;
  background-color: #fff;
  border-radius: 1%;
  box-shadow: 0 20pxx 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;  
  max-height: 100%;
  overflow-y: auto;
}

.modal-body {
  margin-right: 10px 0 0 10px;
  text-align: left;
  padding: 0;
}

.modal-default-button-success 
{  
  margin: 15px 0 0 0;
  background-color: #fff;
}

.modal-default-button-close 
{  
  margin: 10px 0 40px 0;
}

.modal-footer
{  
  padding: 0;
  border: none;
}

button.close 
{
  padding: 0;
}

/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* End Styles Window Modal with vue.js*/
