@CHARSET "ISO-8859-1";

.nav1 {
    background-color: transparent !important;
    position: absolute;
    width: 100%;
    padding-top: 40px;
    padding-bottom:20px;
    top: 0px;
    left: 0px;
}

.nav1 a{
  font-size: 16px;
	color: #fff;
}

/* --------------------bar user login---------------------*/
.nav2 {
    background-color: #001738 !important;
    padding-top: 10px;
    padding-bottom: 5px;
}

.icon-bar{
    height: 30px;
}
@media (max-width: 450px){
	

}

@media (min-width: 1024px){
	
	.nav2 .container {
	    width: 1180px;
	    max-width:90%;
	}
}
