@CHARSET "ISO-8859-1";

.nav1 {
    background-color: transparent !important;
    position: absolute;
    width: 100%;
    padding-top: 40px;
    padding-bottom:20px;
    top: 0px;
    left: 0px;
}

.nav1 a{
  font-size: 16px;
	color: #fff;
}

/* --------------------bar user login---------------------*/
.nav2 {
    background-color: #001738 !important;
    padding-top: 10px;
    padding-bottom: 5px;
}

.iconbar2{
    padding-right: 20px;
    padding-top: 5px;
}
@media (max-width: 450px){
	

}

@media (min-width: 1024px){
	
	.nav2 .container {
	    width: 1180px;
	    max-width:90%;
	}
}

input.filter {
    height: 36px;
    border: none;
    width: 284px;
    border-radius: 4px;
    padding-left: 30px;
    color: #2c3e50;
}

input.filter + label {
    position: relative;
    top: -27px;
    left: 10px;
    font-size: 14px !important;
    color: #b7bab7 !important;
}

input.filter::-webkit-input-placeholder {
    color: #b7bab7;
    font-size: 12px !important;
}
.newservice{
    height: 36px;
    width: 154px;
}
.iconmenu{
    padding-left:10px;
    font-size: 24px !important;
}
.bolsa-de-tiempo{
    padding-left:28px;
}
.moneda{
    height: 25px;
    width:25px;
}
.textpadding{
    padding-left: 5px;
}
.buttonStart{
    height: 42px;
    width: 154px;
}
