.profileImg
{
	width: 20%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 40%;
  border-radius: 50%;
}

.titleContent
{
	font-size: 200%;
	font-weight: bold;
	margin: 1%;
}

.subTitle
{
	text-align: center;
}

.modalPanel
{
	margin: 2%;
}
