@import url('footer.css');

@import url('nav.css');

@import url('styleForms.css');

body{
	background-color:#fff !important;
}
a{
	text-decoration: none !important;
}
section {
    position: relative;
    padding-top:50px;
    padding-bottom:50px;
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url(../images/banner.jpg);
  text-align: center;
  color: white;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 40px 15px 100px;
  width: 100%;
}

.title1{
	font-weight: bold;
	font-size: 30px;
	color: #2c3e50;
}

.title2{
	margin-top: 12px !important;
	font-weight:bold;
	font-size:20px;
	color:#2c3e50;
}

.button1{
	font-size:16px;
	color:#fff;
	background-color:#2c3e50;
	padding:16px 10px;
	width:322px;
	border-radius:4px;
}

.button2{
	font-size:16px;
	color:#fff;
	background-color:#2c3e50;
	padding:16px 10px;
	width:322px;
	border-radius:4px;
}

.button3{
	font-size:16px;
	color:#fff;
	background-color:#818993;
	padding:16px 10px;
	width:322px;
	border-radius:4px;
}

.button4{
	font-size:16px;
	color:#fff;
	padding:16px 25px;
	width:138px;
	border:1px solid #fff;
	border-radius:4px;
}

.button5{
	font-size: 16px;
	color: #fff;
	padding: 16px 25px;
	width: 138px;
	border-radius: 4px;
}

.button6{
	font-size:18px;
	color:#fff;
	padding:16px 25px;
	width:322px;
}

.button7{
	font-size:16px;
	color:#9a9a9a;
	padding:4px;
	border-radius:4px;
	border:solid 1px #9a9a9a;
}

.button8{
	font-size:16px;
	color:#818993;
	padding:16px 10px;
	width:322px;
	border-radius:4px;
	border:solid 1px #818993;
}

.parrafo1{
	font-size:18px;
	word-wrap: break-word;
	color:#2c3e50;    
}

.parrafo2{
	font-size:16px;
	color:#2c3e50; 
    word-wrap: break-word;  
}

.parrafo3{
	font-size:16px !important;
	color:#2c3e50 !important;
    word-wrap: break-word;
}

.parrafo6{
	font-size:12px !important;
	color:#2c3e50;
    word-wrap: break-word;
}

/*
Service box
*/
.service-box {
    position: relative;
    width: 322px;
    max-height: 330px;
    height:330px;
    margin:10px auto;
    background-color:#dedede;
    border: 0.25px solid #a0a0a0;
}

.service-box span.category {
    background: #2c3e50;
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 10;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}

.service-box .cover {
    overflow: hidden;
    height: 142px;
    width: 100%;
    position: relative;
}

.service-box .content {
    position: relative;
    margin: 0px 15px;
    height: 188px;
}

.service-box .cover > img {
    width: 100%;
    top: -25%;
    position: absolute;
    left: 0px;
}

.service-box .avatar {
    position: absolute;
    width: 25%;
    top: 100px;
    left: 5%;
}

.service-box .title {
    position: relative;
    margin-top: 0px;
    margin-left: 100px;
}

.service-box .ranking {
    display: table;
    overflow: hidden;
    height: 24px;
    margin-bottom: 10px;
}

.service-box .ranking > div {
    display: table-row;
}

.service-box .ranking > div > span {
    display: table-cell;
    padding: 0px 5px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.service-box .tags > a {
    margin: 0px 5px;
    text-decaration:none;
}

.service-box .content > p {
    overflow: hidden;
    display: block;
    height: 65px;
}


/*
Media Querys
*/
@media (min-width: 1200px){
	.container {
	    width: 1024px;
	}
}


@media (max-width: 768px){
	.banner{
		height:724px;
	}
}

@media (max-width: 450px){
	.banner2 .fondo img {
	    right: 0px;
	    position: absolute;
	    min-width: 100%;
	    max-width: none;
	    top: -100px;
	    min-height: 100%;
	    max-height: 145%;
	    left: -65%;
	}
}