header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url(../images/banner.jpg);
  text-align: center;
  color: white;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 40px 15px 100px;
  width: 100%;
}
.headerSection1{


}


a#logo-container {
  	    text-transform: uppercase;
  	    max-width: 340px;
  	    white-space: normal;
  	    line-height: 30px;
  	    margin-top: 40px;
  	    font-size: 25px;
		color:white;
  	}

  	.brand-logo i {
  	    font-size: 67px !important;
  	}

a.loginBt {
    float: right;
    margin-top: 40px;
    font-size: 20px;
    color:white;
}

.botonesRegistro {
    width: 290px;

}

.botonesRegistro > p {
    color: #fff;
    font-size: 18px;
}

.botonesRegistro > a {
    height: 40px;
    width: 290px;
    display: block;
    background-size: 100% 100%;
    margin-bottom: 10px;
}
.botonesLogin {
    width: 290px;
    top: 350px;
    position: relative;
    margin: auto;
}
.botonesLogin p {
		font-size: 18pt;
		font-family: sans-serif;
		font-weight: bold;
		color: white;
		margin: auto;
		padding: 15px;
	}

.botonesLogin > a {
    height: 40px;
    width: 290px;
    display: block;
    background-size: 100% 100%;
    margin-bottom: 10px;
}
.registroFacebook{

	background:url('../images/facebookRegistro.png');

}

.registroGoogle{

	background:url('../images/googleRegistro.png');

}

.registroLinkedin{

	background:url('../images/linkedinRegistro.png');

}
