@import url('footer.css');
@import url('nav.css');
@import url('styleForms.css');
@import url('font-awesome.css');
/*-----------------Fonts--------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro');

body {
    background-color: #f2f5f6 !important;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
}

a {
    text-decoration: none !important;
}

section {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

header .header-content {
    position: relative;
    text-align: center;
    padding: 40px 15px 100px;
    width: 100%;
}

buttom, a {
    cursor: pointer;
}

/*
Logo
*/
.logo {
    background: rgba(255, 255, 255, 0.7);
    display: block;
    padding: 15px 0px 15px 0px;
    border-radius: 0px 0px 5px 5px;
}

.logo img {
    width: 85%;
}

img {
    max-width: 100%;
}

#app {
    min-height: 800px;
}

/*
Titles
*/

.title1 {
    font-family: Montserrat, sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: #001738;
    word-wrap: break-word;
}

.title2 {
    font-family: Montserrat, sans-serif;
    margin-top: 12px !important;
    font-weight: bold;
    font-size: 20px;
    color: #2c3e50;
    word-wrap: break-word;
}

.title2-service {
    font-family: Montserrat, sans-serif;
    margin-top: 12px !important;
    font-weight: bold;
    font-size: 28px;
    color: #2c3e50;
    word-wrap: break-word;
}

.title3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: Bold;
    color: #fff;
    word-wrap: break-word;
}

/*
Buttons
*/

.button1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 12px;
    border-radius: 4px;
    border: none;
}

.button2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #2c3e50;
    padding: 16px 10px;
    width: 322px;
    border-radius: 4px;
}

.button3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #818993;
    padding: 16px 10px;
    width: 322px;
    border-radius: 4px;
}

.button4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #fff;
    width: 132px;
    height: 42px;
    border: solid 1px #18aada;
    border-radius: 4px;
    background: none;
}

.button5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #fff;
    padding: 16px 25px;
    border-radius: 4px;
    background: none;
    border: none;
}

.button6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    height: 40.8px;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 22px;
    border-radius: 4px;
    border: none;
}

.button7 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #0f6784;
    padding: 4px;
    border-radius: 4px;
    border: solid 1px #0f6784;
}

.button8 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #818993;
    padding: 16px 10px;
    width: 322px;
    border-radius: 4px;
    border: solid 1px #818993;
}

.button9 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #2c3e50;
    border-radius: 4px;
    background-color: #fff;
    padding: 8px 9px;
    border: none;
    font-weight: bold;
}

.button10 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #a69f9f;
    padding: 8px 9px;
    border: solid 1px #0f6784;
    border-radius: 4px;
}

.button11 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #212f3f;
    padding: 8px 9px;
}

.button11:hover {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #212f3f;
    padding: 8px 9px;
}

.button11:focus {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #212f3f;
    padding: 8px 9px;
    border-bottom: 3px solid #212f3f;
    background-color: initial !important;
}

.buttonService {
    height: 140px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #9ca2a9;
    color: #90a1b5;
}

.button1.inactive {
    background-color: #818993 !important;
    pointer-events: none;
}

.inactive {
    pointer-events: none;
    background: #b7bab7 !important;
    opacity: 0.7;
}

p.dialog {
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #979797;
}

/*
Paragraphs
*/
.paragraph1 {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    word-wrap: break-word;
    color: #2c3e50 !important;
    word-wrap: break-word;
}

.paragraph2 {
    font-size: 16px;
    color: #2c3e50 !important;
    word-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
}

.paragraph3 {
    font-size: 16px;
    color: #2c3e50 !important;
    word-wrap: break-word;
    word-wrap: break-word;
}

.paragraph4 {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    color: #001738;
    word-wrap: break-word;
}

.paragraph6 {
    font-size: 12px;
    color: #2c3e50 !important;
    word-wrap: break-word;
}

.paragraph7 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #fff !important;
    word-wrap: break-word;
}

.paragraph8 {
    font-size: 9px;
    color: #2c3e50 !important;
    word-wrap: break-word;
}

.paragraph9 {
    font-size: 20px;
    color: #2c3e50 !important;
    word-wrap: break-word;
}

.paragraph10 {
    font-size: 14px;
    color: #90a1b5 !important;
    word-wrap: break-word;
}

.text-primary-color {
    color: #2c3e50;
}

/*
Links
*/

.link1 {
    font-size: 18px !important;
    color: #2c3e50 !important;
    text-decoration: underline !important;
}

.link2 {
    font-size: 16px !important;
    color: #2c3e50 !important;
    text-decoration: underline !important;
}

/*
Helpers
*/
.icon-nav {
    font-size: 25px;
}

.text-white {
    color: #fff !important;
}

.text-bold {
    font-weight: bold;
}

.text-red {
    color: #cd0000;
}

.text-opacity {
    font-style: italic;
    opacity: 0.5;
}

.not-padding {
    padding: 0px !important;
}

.not-padding-bottom {
    padding-bottom: 0px !important;
}

.not-margin {
    margin: 0px !important;
}

.not-margin-x {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.not-margin-y {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.not-margin-top {
    margin-top: 0px !important;
}

.margin-auto {
    margin: auto !important;
}

.background-active-green-color {
    background-color: #2cba36 !important;
}

.background-active-color {
    background-color: #0f6784 !important;
}

.background-white {
    background-color: #fff !important;
}

.relative {
    position: relative !important;
}

.fixed {
    position: fixed !important;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-center p {
    margin: 0px;
}

.not-overflow {
    overflow: initial !important;
}

.space {
    display: block;
    clear: both;
    height: 40px;
    width: 100%;
}

.space10 {
    display: block;
    clear: both;
    height: 10px;
    width: 100%;
}

.space15 {
    display: block;
    clear: both;
    height: 15.2px;
    width: 100%;
}

.space20 {
    display: block;
    clear: both;
    height: 20.2px;
    width: 100%;
}

.space4 {
    display: block;
    clear: both;
    height: 4px;
    width: 100%;
}

.cap {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.passNum {
    border: 1px solid #90a1b5;
    width: 25px;
    display: block;
    height: 25px;
    border-radius: 50%;
    padding-top: 2px;
    color: #90a1b5;
    font-weight: bold;
    position: relative;
    margin: auto;
    font-size: 12px;
}

.pass, .pass > span, .pass > p, .pass > a, .pass > span:before {

    color: #90a1b5;
    cursor: pointer
}

.passActive > span {
    border-color: #0f6784;
    color: #fff;
    background: #0f6784;
}

.passDone > span {
    border-color: #2cba36;
    color: #fff;
    background: #2cba36;
    text-indent: -1000px;
}

.passDone > span:before {
    content: "\f00c";
    display: block;
    text-indent: initial;
    font-family: FontAwesome;
    color: #fff;
    font-weight: 100;
    padding-top: 2px;
}

.passActive > p {
    color: #0f6784;
}

.passSpace:before {
    content: "";
    display: block;
    width: 30px;
    border-top: 2px solid #90a1b5;
    top: 13px;
    position: relative;
    margin: auto;
}

/*
RedesSociales
*/
.social-button {
    margin-top: 10px;
    text-align: left;
}

.social-button:hover, .social-button:focus {
    color: #fff;
}

.social-button-facebook:hover, .social-button-facebook:focus {
    color: #3b5994;
}

.social-button-google:hover, .social-button-google:focus {
    color: #cf4836;
}

.social-button-linkedin:hover, .social-button-linkedin:focus {
    color: #007bb2;
}

.social-button > i {
    margin-right: 5px;
    float: right;
}

.facebook-login {
    background-color: #3b5998;
}

.google-login {
    background-color: #d34836;
}

.linkedin-login {
    background-color: #007bb6;
}

.facebook {
    background-color: #fff;
    color: #3b5994;
    border: solid 2px #3b5994;
}

.google {
    background-color: #fff;
    color: #cf4836;
    border: solid 2px #cf4836;
}

.linkedin {
    background-color: #fff;
    color: #007bb2;
    border: solid 2px #007bb2;
}

/*
Banner Home
*/
.bannerHome {

}

h1#bannerDescription {
    min-height: 120px;
}

.bannerHome .carousel {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #00728f;
}

.bannerHome .carousel > div {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    position: absolute;
    opacity: 0;
    transition: all 2s !important;
}

.bannerHome .carousel > div > img {
    position: absolute;
    bottom: 0%;
    left: 50px;
    opacity: 0;
    transition: all 3s !important;
}

.bannerHome .carousel > div.active > img {
    opacity: 100;
}

.bannerHome .carousel > div.active {
    opacity: 100;
}

.bannerHome .carousel .banner1 {
    background-image: url(/images/banner/back1.jpg);
}

.bannerHome .carousel .banner2 {
    background-image: url(/images/banner/back2.jpg);
}

.bannerHome .carousel .banner3 {
    background-image: url(/images/banner/back3.jpg);
}

/*
Banner Register
*/
.bannerRegister {
    background: url(../images/banner4.jpg);
    background-size: 100% auto;
    background-position: 100% 30%;
    height: 450px;
}

/*
Banner interest
*/
.bannerInterest {
    position: relative !important;
    background: url(../images/banner4.jpg);
    background-size: 100% auto;
    background-position: 100% 30%;
    height: 180px;
}

/*
Banner First Service
*/

.bannerService {
    background: url(../images/banner4.jpg);
    background-size: 100% auto;
    background-position: 100% 30%;
    height: 450px;
}

/*
Service box
*/
.service-box {
    position: relative;
    width: 345px;
    max-height: 500px;
    height: 475px;
    margin: 10px auto;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
    /*border: 0.25px solid #a0a0a0;*/
    max-width: 100%;
}

.report {
    color: #999;
    font-size: 14px;
    position: relative;
    float: right;
}

.report_line {
    color: #999;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #999;
}

.report_icon {
    font-size: 90px;
}

.service-box span.category {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 10;
    color: #fff;
    border: solid 1px #18aada;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.service-box .cover {
    overflow: hidden;
    height: 142px;
    width: 100%;
    position: relative;
    background: #fff;
}

.service-box .content {
    position: relative;
    margin: 0px 15px;
    height: 188px;
}

.service-box .cover > img {
    width: 100%;
    position: absolute;
    left: 0px;
}

.service-box .paragrph2 {
    min-height: 72px;
    max-height: 72px;
}

.service-box .avatar {
    position: absolute;
    width: 25%;
    top: 165px;
    left: 5%;
    z-index: 100;
}

.service-box .title {
    position: relative;
    margin-top: 0px;
    margin-left: 100px;
    min-height: 65px;
}

.service-box .tags > a {
    margin: 0px 5px;
    text-decaration: none;
}

.service-box .content .description {
    overflow: hidden;
    display: block;
    height: 65px;
    max-height: 65px;
}

/*
Detail Service
*/
.category {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 2%;
    right: 8%;
    z-index: 10;
    color: #fff;
    border: solid 1px #18aada;
    padding: 10px 15px;
    border-radius: 5px;
}

.sliders {
    position: relative;
    display: block;
    overflow: hidden;
}

.slide {
    position: relative;
    float: left;
    margin: 0px 15px;
}

input.stars + label > i {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 35px;
    font-style: normal;
}

input.stars + label > i:before {
    content: "\f006";
}

input.stars + label > i.check:before {
    content: "\f005";
}

/*
detail group
*/

div.groupCover {
    max-height: 360px !important;
    overflow: hidden;
}

img.groupCover {
    max-width: 100%;
}

/*
detail campaign
*/

div.campaignCover {
    max-height: 360px !important;
    width: 100%;
    overflow: hidden;
}

img.campaignCover {
    max-height: 200px;
    max-width: 100%;
}

/*
tabs
*/

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #212f3f;
    background-color: transparent;
    font-weight: bold;
}

.nav-pills > li.active > a:after, .nav-pills > li.active > a:focus:after, .nav-pills > li.active > a:hover:after, .nav-pills > li:hover > a:after {
    content: "";
    position: relative;
    background: #333;
    height: 2px;
    width: 95%;
    display: block;
    margin: auto;
    margin-top: 5px;
}

ul.nav-pills {
    list-style: none;
}

.nav-pills > li > a {
    display: block;
}

/*
conversation
*/

.separator {
    border-top: 1px solid #d4d4d4;
    display: block;
    height: 20px;
    margin-top: 15px;
}

#received {
    background: #fff;
}

#received > div {
    padding: 10px 20px 0px 20px;
}

.notRead {
    background: #e3e9f3;
    overflow: hidden;
    padding: 1% 0px;
}

#received .header {
    border: 1px solid #979797;
    background: #e7e7e7;
}

/*
Ranking
*/

.ranking {
    display: table;
    overflow: hidden;
    height: 24px;
    margin-bottom: 10px;
    margin-left: 93px;
}

.ranking > div {
    display: table-row;
}

.ranking > div > span {
    display: table-cell;
    padding: 0px 5px;
    width: 28.7px;
    height: 24px;
    vertical-align: middle;
}

/*
Box register home
*/
.boxRegister {
    background: url(../images/banner.png);
    background-size: 130% auto;
    background-position: 30% 40%;
}

/*
notificacion icon
*/
.notification {
    position: relative;
    cursor: pointer;
}

.notification > span {
    position: absolute;
    font-size: 15px;
    background: #ad3a38;
    display: block;
    top: 3px;
    right: -10px;
    padding: 2px 7px;
    border-radius: 50%;
    height: 22px;
    width: 22px;
}

/*
conversation box
*/
.conversationBox {
    background: #fff;
    box-shadow: 1px 2px 8px #757575;
}

.conversationBox .head {
    background: #0a475b;
    padding: 15px;
}

.conversationBox .message {
    position: relative;
    display: block;
    margin-bottom: 15px;
}

.listMessages {
    top: 0%;
}

#dealBox {
    background: #f5f5f5;
    top: 200%;
    opacity: 0;
    display: none;
}

#suggestedSites {
    background: #f5f5f5;
    left: -150%;
    opacity: 0;
    display: none;
}

#conversation {
    position: relative;
    height: 450px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
}

#conversation > div {
    position: absolute;
    display: none;
}

#conversation > div.active {
    display: block;
}

.conversationBox .fromMe .messageText {
    position: relative;
    display: block;
    background: #0f6784;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    float: right;
}

.conversationBox .forMe .messageText {
    position: relative;
    display: block;
    background: #e5e5e5;
    padding: 15px;
    border-radius: 5px;
    word-wrap: break-word;
}

.messageDealText {
    position: relative;
    display: block;
    background: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
    margin-left: 8%;
}

.mapMessage {
    width: 100%;
    height: 230px;
    background-color: #d8d8d8;
    border: solid 2px #c0bdbd;
}

.dealButtonCancel {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #a69f9f;
    padding: 8px 9px;
    border-radius: 4px;
    border: solid 1px #cd0000;
}

.textDealIntialState {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #007bb2;
}

.textDealAgreedState {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
}

.textColorSuccessDeal {
    color: #2cba36;
}

.conversationBox .image {
    padding: 0px 7px;
}

.panel .row {
    margin: 0px;
}

.box-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    opacity: 0;
    pointer-events: none;
}

.box-modal.show {
    pointer-events: all;
    opacity: 1;
}

.box-fixed {
    position: fixed;
    top: 5%;
    z-index: 15000;
    max-height: 85%;
    overflow: auto;
}

/*
Media Querys
*/
@media (min-width: 1024px) {
    .container {
        width: 1024px;
    }

    .bannerHome {
        padding-top: 230px;
    }

    .bannerRegister {
        padding-top: 120px;
    }

    .bannerService {
        padding-top: 120px;
    }

    .space40 {
        margin-top: 40px;
    }

    .not-padding {
        padding: 0px !important;
    }

    .nav-pills > li > a {
        display: block;
        padding-right: 20px;
        font-size: 16px;
    }

}

@media (max-width: 768px) {
    .bannerHome {
        padding-top: 120px;
    }

    .bannerRegister {
        background-size: 145% auto;
        background-position: 55% 30%;
        padding-top: 100px;
    }

    .bannerHome .carousel > div > img {
        width: 50%;
    }

    .line-r-v {
        border-right: 0px solid #fff !important;
        margin-right: 0px !important;
        padding-right: 0px !important;
    }

    .line-l-v {
        border-left: 0px solid #fff !important;
        margin-left: 0px !important;
        padding-left: 0px !important;
    }

}

/*
Animations
*/

.sideHidden {
    transform: rotateY(90deg);
    opacity: 0;
}

.icons:before {
    font-size: 25px;
    background-color: #f2f5f6;
}

.circle-shape {
    border: 2px solid #b8bbb8 !important;
    border-radius: 51%;
    width: 30px;
    height: 30px;
    padding: 0 1px 1px 1px !important;
}

.close-modal {
    margin-right: -20px;
    margin-top: -23px;
    margin-bottom: 22px;
}

.icons-button-content {
    top: 2%;
    position: absolute;
}

.icons-button {
    background: #2c3e50;
    margin-right: 5px;
    position: relative;
    float: left;
    border: 1px;
    z-index: 10;
    color: #fff;
    padding: 4px 9px;
    border-radius: 5px;
}

.image-service img {
    display: block;
    margin: auto;
    vertical-align: middle;
    width: 100%;
}

.image-service {
    max-height: 360px !important;
    overflow: hidden;
}

.left {
    margin-left: 0px;
}

.dropdown-menu li {
    cursor: pointer;
}

.vue-input-tag-wrapper .input-tag {
    background-color: initial;
    color: initial;
    border: 1px solid #999999;
    border-radius: 4px;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 3px;
}

.dropdown-toggle {
    cursor: pointer;
}

.no-input > input {
    border: none !important;
    display: initial !important;
    overflow: initial !important;
    margin-bottom: 0px !important;
}

.vue-input-tag-wrapper .input-tag .remove {
    color: initial !important;
}

.vue-input-tag-wrapper {
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: text;
    text-align: left;
    -webkit-appearance: textfield;
    border-radius: 4px;
    padding: 0px 7px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #2c3e50;
    white-space: nowrap;
}

.vue-input-tag-wrapper::-webkit-scrollbar {
    display: none;
}

.input-tag:before {
    content: "#";
}

.vue-input-tag-wrapper .input-tag .remove {
    cursor: pointer;
    font-weight: bold;
    color: #638421;
}

.vue-input-tag-wrapper .input-tag .remove:hover {
    text-decoration: none;
}

.vue-input-tag-wrapper .input-tag .remove::before {
    content: " x";
}

.vue-input-tag-wrapper .new-tag {
    background: transparent;
    border: 0;
    color: #777;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 6px;
    margin-top: 1px;
    outline: none;
    padding: 4px;
    padding-left: 0;
}

.vue-input-tag-wrapper.read-only {
    cursor: default;
}

.tag-margin {
    margin-right: 12.5px;
    margin-bottom: 5px;
    width: auto;
}

.panel-services {
    position: initial;
}

.shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.contactMail {
    position: fixed;
    top: 15%;
    z-index: 1000;
    left: 0%;
    overflow: hidden;
    height: 80%;
    overflow-y: auto;
}

.contactMail .box {
    background: #fff;
    padding: 5%;
}

.fade-transition {
    transition: all 1s ease;
    opacity: 100;
}

.fade-enter, .fade-leave {
    opacity: 0;
}

.border {
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
}

.animation {
    width: 100%;

}

.box-animation {
    text-align: center;

    margin-top: -23%;
}

.map {
    display: none;
    height: 250px;
    width: 100%;
}

.pac-container {
    z-index: 1500;
}

.gm-style div {
    z-index: 9999999999;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #003e65 !important;
    border-color: #003e65 !important;
}

/*Autocomplete users*/

ul.listComplete {
    position: absolute;
    top: 80%;
    background: #fff;
    z-index: 20;
    width: 100%;
    list-style: none;
    height: auto;
    max-height: 250px;
    overflow: auto;
    padding: 5px;
    border: 1px solid #d2d2d2;
}

#collaborators > span {
    background: rgba(156, 162, 169, 0.5);
    padding: 10px;
    margin: 5px;
    display: block;
    float: left;
    border-radius: 5px;
}

.modal-dialog {
    max-width: 100% !important;
}

.line-r-v {
    border-right: 1px solid #fff;
    margin-right: 20px;
    padding-right: 20px;
}

.line-l-v {
    border-left: 1px solid #fff;
    margin-left: 20px;
    padding-left: 20px;
}

.rankingInactive {
    opacity: 0.5;
}

.ui-menu {
    width: 285px !important;
    list-style: none;
    padding: 0px;
    z-index: 200 !important;
}

.ui-menu > li {
    padding: 10px;
    margin: 5px auto;
    color: #445870;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
}

.ui-state-active {
    background: none !important;
    border: 0 !important;
    color: #445870 !important;
}

.ui-menu > li:after {
    content: "";
    border-bottom: 1px solid #dfdfdf;
    height: 10px;
    display: block;
}

.ui-menu > li:hover {
    background: #dfe4ea;
}

.campaign-box {
    display: block;
    height: 250px;
    margin: 10px auto;
    background-color: #fff;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
    max-width: 100%;
}

.campaign-box > div {
    display: block;
    height: 100%;
}

.campaign-box .description {
    max-height: 45px;
    min-height: 45px;
}

.campaign-box .title {
    min-height: 45px;
    max-height: 45px;
    overflow: hidden;
}

.campaign-box .cover {
    height: 100%;
    display: block;
    background-size: auto 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.campaign-box .content {
    display: block;
    position: relative;
    height: 150px;
}

.line {
    height: 10px;
    border-bottom: solid 0.5px #0f6784;
}

.campaign-box .textCredits {
    color: #0f6784 !important;
}

.campaign-box .credit {
    width: 20px;
}

#findMobile .shadow.findMobile {
    opacity: 0;
    pointer-events: none;
}

#findMobile.active .shadow.findMobile {
    opacity: 1;
    pointer-events: all;
}

#findMobile .box {
    position: fixed;
    top: -35%;
    left: 0px;
    width: 100%;
    background: #001738;
    padding: 10px 10px;
}

#findMobile.active .box {
    top: 0%;
    z-index: 1000;
}

#findMobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

div#findMobile .close {
    top: 5%;
    position: absolute;
    right: 5%;
    z-index: 100;
    border-color: #505050 !important;
    transform: scale(0.7, 0.7);
}

.campaign button {
    width: 100%;
    max-width: 332px;
}

.campaign h1, h2, h3, h6, p {
    font-family: 'Source Sans Pro', sans-serif;
}

.campaign h1 {
    font-size: 28px;
}

.campaign h2 {
    font-size: 20px;
}

.campaign h3 {
    font-size: 18px;
    color: #303030;
}

.campaign p {
    font-size: 18px;
    color: #303030;
}

.campaign .rating span {
    font-size: 3rem;
}

.campaign .montserrat-font {
    font-family: Montserrat, sans-serif;
}

.campaign .title {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    color: #2c3e50;
}

.campaign .state {
    font-weight: bold;
    font-size: 18px;
    color: #2c3e50;
    margin-top: 10px;
}

.campaign .state span {
    color: #228b22;
    font-weight: bold;
}

.campaign .description {
    color: #303030;
    font-weight: normal;
    font-size: 18px;
    margin-top: 10px;
}

.campaign .date {
    font-weight: bold;
    font-size: 18px;
    color: #2c3e50;
    margin-top: 10px;
}

.campaign .date span {
    font-weight: normal;
}

.campaign .time {
    font-weight: bold;
    font-size: 18px;
    color: #2c3e50;
    margin-top: 5px;
}

.campaign .time span {
    font-weight: normal;
    text-transform: uppercase;
}

.campaign .dorados {
    margin-top: 10px;
}

.campaign .dorados img {
    vertical-align: top;
    width: 34px;
    margin-right: 5px;
}

.campaign .dorados div {
    display: inline-block;
    vertical-align: top;
    max-width: calc(100% - 42px);
    overflow-wrap: break-word;
}

.campaign .dorados h1 {
    font-weight: bold;
    font-size: 18px;
    color: #0f6784;
    margin-top: 0;
    margin-bottom: 0;
}

.campaign .dorados .sub-title {
    margin-bottom: 12px;
}

.campaign .join h1 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #2c3e50;
}

.campaign .join p {
    font-size: 18px;
}

.campaign .cancel-button {
    color: #0f6784;
    background-color: #ffffff;
    border: solid 1px #0f6784;
}

.campaign .donation p {
    font-weight: bold;
    font-size: 18px;
    color: #0f6784;
}

.campaign div.line {
    height: 1px;
    border-bottom: solid 1px #979797;
}

.popup .dialogBox {
    background: #009fe3;
    position: absolute;
    top: 15%;
    z-index: 1000;
    width: 20%;
    padding: 1% 2%;
    color: #fff;
    left: 40%;
    border-radius: 5px;
}

.campaign .partakers h1 {
    font-weight: bold;
    font-size: 18px;
    color: #303030;
}

.campaign .partakers a {
    color: #0f6784;
    font-size: 18px;
    text-decoration: underline !important;
}

.campaign .host {
    font-family: Montserrat, sans-serif;
    color: #2c3e50;
}

.campaign .host h1 {
    font-weight: bold;
    font-size: 20px;
}

.campaign .host .name {
    font-weight: bold;
    font-size: 28px;
}

.campaign .host .admin-profile {
    max-width: 120px;
}

.campaign .host .rate {
    font-size: 14px;
    color: #001738;
    text-align: left;
}

.campaign .host .rate span {
    color: #90a1b5;
}

.campaign .sharing button {
    border-radius: 10px;
    display: inline;
    height: 45px;
    width: 45px;
    border: none;
    margin: 0 10px;
}

.campaign button.facebook {
    background-color: #3b5994;
}

.campaign button.twitter {
    background-color: #00aced;
}

.campaign button.google {
    background-color: #cf4836;
}

.report-content a {
    color: #999999;
}

.dialogBox > .arrow {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: -20%;
    left: 50%;
}
