/*
Banner Home
*/
.bannerHome {
    box-shadow: 0px 0px 10px 0px #000;
}

h1#bannerDescription {
    min-height: 120px;
}

.bannerHome .carousel {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #00728f;
}

.bannerHome .carousel > div {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    position: absolute;
    opacity: 0;
    transition: all 2s !important;
}

.bannerHome .carousel > div > img {
    position: absolute;
    bottom: 0%;
    left: 50px;
    opacity: 0;
    transition: all 3s !important;
}

.bannerHome .carousel > div.active > img {
    opacity: 100;
}

.bannerHome .carousel > div.active {
    opacity: 100;
}

.bannerHome .carousel .banner1 {
    background-image: url(/images/banner/back1.png);
}

.bannerHome .carousel .banner2 {
    background-image: url(/images/banner/back2.png);
}


.bannerHome .description {
    padding-top: 25px;
    padding-bottom: 25px;
}

.position-bottom{
    position: absolute;
    width: 100%;
    bottom: 0%;
    left: 0%;
}

.sponsors{
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.boxPig {
    background-color: #d6e5eb;
    padding-top: 25px;
    padding-bottom: 25px;
}

/*
Box register home
*/
.boxRegister {
    background: url(../images/banner.png);
    background-size: 130% auto;
    background-position: 30% 40%;
}

/*
RedesSociales
*/
.social-button {
    margin-top: 10px;
    text-align: left;
}

.social-button:hover, .social-button:focus {
    color: #fff;
}

.social-button-facebook:hover, .social-button-facebook:focus {
    color: #3b5994;
}

.social-button-google:hover, .social-button-google:focus {
    color: #cf4836;
}

.social-button-linkedin:hover, .social-button-linkedin:focus {
    color: #007bb2;
}

.social-button > i {
    margin-right: 5px;
    float: right;
}

.facebook-login {
    background-color: #3b5998;
}

.google-login {
    background-color: #d34836;
}

.linkedin-login {
    background-color: #007bb6;
}

.facebook {
    background-color: #fff;
    color: #3b5994;
    border: solid 2px #3b5994;
}

.google {
    background-color: #fff;
    color: #cf4836;
    border: solid 2px #cf4836;
}

.linkedin {
    background-color: #fff;
    color: #007bb2;
    border: solid 2px #007bb2;
}

@media (min-width: 768px) {
    .bannerHome {
       height: 500px;
    }

    .bannerHome .lineUnion {
        width: 15vw;
        display: block;
        position: absolute;
        border-top: 2px solid #fff;
        top: 5vh;
        left: 80%;
        padding-left: 10px;
        text-align: center;
    }

    .bannerHome .lineUnion:before {
        content: "";
        display: block;
        border: 3px solid #fff;
        width: 13px;
        height: 13px;
        position: absolute;
        top: -7px;
        left: -10px;
        border-radius: 50px;
    }

    .bannerHome .lineUnion:after {
        content: "";
        display: block;
        border: 3px solid #fff;
        width: 13px;
        height: 13px;
        position: absolute;
        top: -7px;
        right: -10px;
        border-radius: 50px;
    }

    .bannerHome .carousel > div > img {
        width: 50%;
    }
}

@media (min-width: 576px) {
    .size-first {
        font-size: 28px;
    }

    .size-second {
        font-size: 24px;
    }

    .size-third {
        font-size: 18px;
    }

    .size-fourth {
        font-size: 14px;
    }

    .welcome .size-second {
        font-size: 18px;
    }

    .welcome .button1:active {
        color: inherit;
    }
}

@media (min-width: 992px) {
     .bannerHome {
        height: 650px;
        position: relative;
    }
    .bannerHome .lineUnion {
        width: 15vh !important;
    }
}

@media (max-width: 767px) {
    .bannerHome {
        height: 105vh;
    }

    .bannerHome .carousel > div {
        background-size: auto 100% !important;
        background-position: 95% 0% !important;
    }

    .bannerHome .carousel > div > img {
        left: 0% !important;
        width: 100%;
    }

    .bannerHome .lineUnion {
        height: 5vh;
        display: block;
        position: absolute;
        border-left: 2px solid #fff;
        top: 15vh;
        left: 60%;
        padding-left: 10px;
    }

    .bannerHome .lineUnion:before {
        content: "";
        display: block;
        border: 3px solid #fff;
        width: 10px;
        height: 10px;
        position: absolute;
        top: -10px;
        left: -6px;
        border-radius: 50px;
    }

    .bannerHome .lineUnion:after {
        content: "";
        display: block;
        border: 3px solid #fff;
        width: 10px;
        height: 10px;
        position: absolute;
        bottom: -10px;
        left: -6px;
        border-radius: 50px;
    }
    .bannerHome .carousel > div > img {
        width: 100% !important;
    }
}
