.bg-cambalachea{
    background-color: #003459;
}
.inicio{
    background-image: url("/images/fondoColegios.jpg");
    background-color: #003459;
    background-size: 100%;
    height: 600px;
}
.registroAdmin{
    background-image: url("/images/fondoColegios.jpg");
    background-color: #003459;
    background-size: 100%;
    min-height: 600px;
}
.bg-white-opacity{
    background: rgba(250,250,250,0.4);
}
.text-sm{
    font-size: 0.7rem;
}
.text-xs{
    font-size: 0.5rem;
}
.text-lg{
    font-size: 1.5rem;
}
.form-control{
    border-radius: 0px;
}
.btn{
    border-radius: 0px;
}
.file-update {
    display: none;
}

.file-update + label {
    width: 100%;
    background: #fff;
    color: #adadaf;
    text-align: center;
    padding: 30px;
}
