@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro');
body {
	font-family: 'Source Sans Pro', sans-serif;
}
.navbar .form-control{
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
}
.navbar .btn{
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}
.bg-cambalachea{
	background-color: #003459;
}
.inicio{
	background-image: url("/images/fondoColegios.jpg");
	background-color: #003459;
	background-size: cover;
	height: 600px;
	font-family: 'Montserrat', sans-serif;
}
.school-register{
	background-color: white;
	border-radius: 5px;
}
.registroAdmin{
	background-image: url("/images/fondoColegios.jpg");
	background-color: #003459;
	background-size: cover;
	min-height: 600px;
	font-family: 'Montserrat', sans-serif;
}
.registroAdmin button{
	background-color: white;
	color: #008abc;
	border-color: #008abc;
}
.bg-login-btn{
	background-color: #00a1e6;
}
.bg-white-opacity{
	background: rgba(250,250,250,0.4);
}
.bg-green{
	background-color: #15b515;
}
.c-dark-blue{
	color: #153557;
}
.bg-dark-blue{
	background-color: #153557;
}

.bg-darkBlue{
    background-color: #3e708f;
}
.bg-light-gray{
	background-color: #f2f5f6;
}
.montserrat{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
.montserrat-bold{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.text-xs{
	font-size: 0.6rem;
}
.text-sm{
	font-size: 0.9rem;
}
.text-md{
	font-size: 1.1rem;
}
.text-lg{
	font-size: 1.5rem;
}
.file-update {
	display: none;
}
.file-update + label {
	width: 100%;
	background: #fff;
	color: #adadaf;
	text-align: center;
	padding: 30px;
	border-radius: .25rem;
	border: 1px solid #ced4da;
}
.panel{
	background: #f2f5f6;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
}
hr{
	border-top: 1px solid #000;
}
.campaign-photo {
	height: 25rem;
	background-position: center 0%;
    background-size: cover;
}
.state span{
	color: #7ac943;
}
.campaign-box {
	height: 250px;
	margin: 10px auto;
	background-color: #fff;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
	max-width: 100%;
}
.campaign-box a{
	text-decoration: none;
}
.campaign-box .description {
	max-height: 45px;
	min-height: 45px;
}
.campaign-box .title {
	min-height: 45px;
	max-height: 45px;
	overflow: hidden;
}
.campaign-box .cover {
	height: 100%;
	display: block;
	background-size: auto 100%;
	background-position: 50%;
	background-repeat: no-repeat;
}
.campaign-box .content {
	display: block;
	position: relative;
	height: 150px;
}
.campaign-box .description, .campaign-box .title {
	min-height: 45px;
	max-height: 45px;
	overflow: hidden;
}
.campaign-box .line {
	border-top: 1px solid #003459;
}
.btn_campaign_add {
	position: absolute !important;
	z-index: 1;
	right: 5%;
	top: 5%;
}
.btn_campaign_remove {
	position: absolute !important;
	z-index: 1;
	right: 5%;
	top: 5%;
}
button.btn-switch {
	width: 50px;
	height: 20px;
	background: #efefef;
	border: 1px solid #dcdcdc;
	border-radius: 20px;
	position: relative;
}
button.btn-switch.enable{
	background: #37bf4b;   
}
button.btn-switch:before {
	content: "";
	width: 45%;
	background: #fff;
	height: 125%;
	display: block;
	position: absolute;
	top: -10%;
	left: 0%;
	border-radius: 50%;
	border: 1px solid #dcdcdc;
}
button.btn-switch.enable:before {
	left: 55%;
	border: 1px solid #37bf4b;
}
.iconGroups {
	position: absolute;
	z-index: 1;
	color: #fff;
	font-size: 20px;
	top: 2%;
	left: 2%;
	background: rgba(0,0,0,.6);
	border: 1px solid #18aada;
	padding: 10px;
	border-radius: 5px;
}
.nav-link.active, .nav-link.show {
    color: #003459;
    border-bottom: 1px solid #003459;
}
#calendar {
	background-color: white;
	padding: 1rem;
}
#calendar h2 {
	font-size: 1.5rem;
}
#calendar .fc-left {
	margin-bottom: 0.5rem;
}
#calendar .fc-right {
	margin-bottom: 0.5rem;
}
[aria-expanded="true"]{
    background-color: #009fe5 !important;
}
[aria-expanded="true"] td{
    color: #fff;
}