.bg-cambalachea{
    background-color: #003459;
}
.inicio{
    background-color: #003459;
    height: 600px;
}
.bg-white-opacity{
    background: rgba(250,250,250,0.7);
}
.text-sm{
    font-size: 0.7rem;
}
.text-xs{
    font-size: 0.5rem;
}
.st--5{
    top: -5px;
    position: relative;
}